/* fuente*/
@font-face {
    font-family: inter-tight;
    src: url(../../../../../fonts/Inter-tight.ttf);
}

/* centrado y tipografia    */
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    font-family: inter-tight;
}

/* fondo */
.fondo {
    background-image: url(../../../../../public/inicio/FondoCiclista.png);
    background-size: cover;
}

ul { /*     posicion de cada apartado de lista      */
    margin-left: 50vh;
}

p, li { /*      Color blanco en letras          */
    color: white;
    font-size: 3.5vh;
}