/* fondo */
.fondo {
    background-image: url(../../../../../public/inicio/FondoMontañaMinimalista.png);
    background-size: cover;
}

/* centrado y tipografia    */
.centrado {
    padding: 30vh 0;
    margin-left: 60vh;
    font-family: "Inter";
}

h1 { 
    margin: 0;
    color: white;
    font: 9em sans-serif;
    margin-bottom: 20vh;
    font-family: "Inter";
    font-weight: lighter;
    margin-left: 20vh;
}

.reparacionesServicios {
    display: grid;
    grid-template-columns: 30vh 30vh 30vh;
}

.grid 
{
    text-align: center;

}

.grid img{
    margin-bottom: 5vh;
}

span {
    color: white;
    font-size: 2em;
}

.textos {
    margin: 4vh;
}