<div class="fondo">
    <div class="centrado">
        <h1>Servicios</h1>
        <div class="reparacionesServicios">
            <div class="grid">
                <img src="inicio/servicios/reparaciones.png" alt="">
                <span class="textos">Reparaciones</span>
            </div>
            <hr class="grid">
            <div class="grid">
                <img src="inicio/servicios/ventas.png" alt="">
                <span class="textos">Ventas</span>
            </div>
        </div>
    </div>
</div>
