<div class="navbar">
    <div class="logo">
        <img href="#" id="logo" src="navbar/logo_electrospeed_negro.png" />
    </div>
    <div class="nav-actions">
        <ul class="nav-buttons">
            <li>
                <a href="#">
                    <img src="navbar/imagen_productos.png" alt="icono productos" class="icono-boton-productos" />
                    Productos
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="navbar/imagen_sobrenosotros.png" alt="icono sobre nosotros"
                        class="icono-boton-sobrenosotros" />
                    Sobre Nosotros
                </a>
            </li>
        </ul>
        <div class="icons">
            <img href="#" id="carrito" src="navbar/imagen_carrito.png" />
            <img href="#" id="perfil" src="navbar/imagen_perfil.png" />
        </div>
    </div>
</div>