/* fuente*/
@font-face {
    font-family: inter-standar;
    src: url(../../../../fonts/Inter-standar.ttf);
}

.navbar {
    display: flex;
    width: 98vw;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    justify-content: space-between;
    font-family: Inter-standar;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(7px);
    z-index: 1000;
}

.logo img {
    width: 80px;
    transition: transform 0.1s ease;
}

.logo img:hover {
    transform: scale(1.04);
}

.nav-actions {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-buttons {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-buttons li {
    display: inline-block;
}

.nav-buttons a {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: transform 0.1s ease;
    gap: 15px;
}

.nav-buttons a:hover {
    transform: scale(1.04);
}

.icono-boton-productos {
    width: 30px;
    height: 20px;
}

.icono-boton-sobrenosotros {
    width: 24px;
    height: 24px;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons img {
    width: 35px;
    cursor: pointer;
    margin-right: 30px;
}

#carrito, #perfil {
    transition: transform 0.3s ease;
}

#carrito:hover, #perfil:hover {
    transform: scale(1.1);
}
