<div class="fondo">
    <div id="base">
        <div class="grid">
            <div class="fotos">
                <img src="inicio/bh.jpg" alt="">
            </div>
            <div class="datos">
                <h1>{{nombreModelo}}</h1>
                <h5>Codigo: {{codigoIdentificador}}</h5>
                <p>Descripcion: {{descripcionBici}}</p>
                <h3>Precio: {{precioBici | precios}}€  stock:
                    @if (stockBici > 0) 
                    {
                        ✔️
                    }
                    @else 
                    {
                        ❌
                    } 
                </h3>
                <div class="botones">
                    <button id="anadirCarrito">Añadir al carrito</button>
                    <button id="comprar">Comprar</button>
                </div>
            </div>
        </div>
        <div class="reseñasArriba">
            <div class="arribaIzquierda">
                <h4>Media de las reseñas: </h4>
                <div id="puntuacion">
                    <img src="detalle/full.png" alt="detalle/full.png">
                    <img src="detalle/full.png" alt="detalle/full.png">
                    <img src="detalle/full.png" alt="detalle/full.png">
                    <img src="detalle/full.png" alt="detalle/full.png">
                    <img src="detalle/empty.png" alt="detalle/empty.png">
                </div>
                <h4> 4/5 </h4>
            </div>
            <div class="arribaDerecha">
                <h5 id="cantidadReseñas">Cantidad reseñas: "n"</h5>
            </div>
        </div>
        <div class="reseñasAbajo">
            <!--    las targetas    -->
            <div class="tarjetasReseñas">
                <div class="tarjetaReseñaArriba">
                    <div class="puntuacionReseñas">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/empty.png" alt="detalle/empty.png">
                    </div>
                    
                    <span>
                        <img src="detalle/noe.png" alt="detalle/noe.png">
                        Usuario
                    </span>
                </div>
                <div class="tarjetaReseñaAbajo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem  tortor, congue ut odio et, accumsan luctus dolor. Donec lacinia  facilisis neque, vitae consectetur odio imperdiet ac. Praesent accumsan  libero eget finibus hendrerit. </p>
                </div>
            </div>

            <div class="tarjetasReseñas">
                <div class="tarjetaReseñaArriba">
                    <div class="puntuacionReseñas">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/empty.png" alt="detalle/empty.png">
                    </div>
                    
                    <span>
                        <img src="detalle/noe.png" alt="detalle/noe.png">
                        Usuario
                    </span>
                </div>
                <div class="tarjetaReseñaAbajo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem  tortor, congue ut odio et, accumsan luctus dolor. Donec lacinia  facilisis neque, vitae consectetur odio imperdiet ac. Praesent accumsan  libero eget finibus hendrerit. </p>
                </div>
            </div>

            <div class="tarjetasReseñas">
                <div class="tarjetaReseñaArriba">
                    <div class="puntuacionReseñas">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/full.png" alt="detalle/full.png">
                        <img src="detalle/empty.png" alt="detalle/empty.png">
                    </div>
                    
                    <span>
                        <img src="detalle/noe.png" alt="detalle/noe.png">
                        Usuario
                    </span>
                </div>
                <div class="tarjetaReseñaAbajo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem  tortor, congue ut odio et, accumsan luctus dolor. Donec lacinia  facilisis neque, vitae consectetur odio imperdiet ac. Praesent accumsan  libero eget finibus hendrerit. </p>
                </div>
            </div>

        </div>
    </div>
</div>

