<app-base-login-registro>
    <div id="registro">
        <p>Registrarse</p>
    </div>
    <form id="formulario" (submit)="submit()">
        <input type="text" placeholder="Correo electrónico" class="cuadro" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" />
        <input type="text" placeholder="Nombre de usuario" class="cuadro" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
        <input type="text" placeholder="Nombre completo" class="cuadro" [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}" />
        <input type="password" placeholder="Contraseña" class="cuadro" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
        <button type="submit" id="botonregistro">Registrarse</button>
    </form>

</app-base-login-registro>

