.fondo {
    background-image: url(../../../../public/carrito/pexels-jahangeer-bm-1619299-scaled.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
}
#espacio {
    height: 25vh;
}
.todo{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    
}
.grid-derecha{
    display: grid;
    grid-template-rows: auto auto; 
    gap: 10px; 
}
.zonaProductos{
    display: grid;
    background-color: white;
    margin-left: 70px;
    min-width: 800px;
    max-width: 800px;
    margin-right: 50px;
    border-radius: 20px;
}
.pago{
    display: grid;
    background-color: white;
    max-width: 450px;
    min-height: 120px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}
.recomendaciones{
    display: grid;
    background-color: white;
    max-width: 450px;
    min-height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 20px;
}
.precio{
    margin-bottom: -15px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.pagoTarjeta{
    border-radius: 5px;
    background-color: orange;
}
.pagoEthereum{
    border-radius: 5px;
    background-color: chocolate;
}
.bici{
    display: flex;
}
.fotoBici{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
}
.datos{
    display: flex;
    margin-top: 50px;
}
.nombreBici{
    margin-right: 20px;
}