
<section class="fondo">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1>ElectroSpeed</h1>
        <h2>¡La velocidad es eléctrica!</h2>
    </div>
</section>


<!-- CAROUSEL DE IMAGENES DESTCADAS -->

<div class="textContainer">
    <h2>
        En Electro Speed llevamos la movilidad eléctrica a otro nivel.
        Somos tu lugar de confianza para e-bikes, accesorios y todo lo necesario para disfrutar de una movilidad ágil,
        sostenible y sin límites. Con nosotros, encuentras no solo la bicicleta ideal,
        sino también asesoría y servicios pensados para que aproveches al máximo cada trayecto.
    </h2>
</div>

<div class="textProduct">
    <h1>Productos destacados</h1>
    <h3>Esta es la selección de los modelos destacados actualmente, elige el que mejor se ajuste a tus necesidades.</h3>
</div>

<div class="containerCarousel">

    <div class="carousel slide" id="carouselDemo">

        <div class="carousel-inner ccc">

            <div class="carousel-item active asd">
                <a href="detalle/16">
                    <img src="inicio/bianchi-t-tronic-rebel-tl.jpg" class="w-100 bici">
                </a>
            </div>

            <div class="carousel-item asd">
                <a href="detalle/3">
                    <img src="inicio/bh-atomx-lynx-pro-98.jpg" class="w-100 bici">
                </a>
            </div>

            <div class="carousel-item asd">
                <a href="detalle/24">
                    <img src="inicio/bianchi-t-tronic-rebel-tl.jpg" class="w-100 bici">
                </a>
            </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDemo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselDemo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

        <div class="carousel-indicators">
            <button type="button" class="active" data-bs-target="#carouselDemo" data-bs-slide-to="0">
                <!-- <img src="bh 2.jpg"/> -->
            </button>

            <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="1">
                <!-- <img src="bh.jpg"/> -->
            </button>

            <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="2">
                <!-- <img src="cannondale.jpg"/ -->>
            </button>
        </div>

    </div>
</div>


<!-- SERVICIOS QUE OFRECEMOS -->
<div class="containerimg">
    <div class="item item-1"><!-- text -->
        <h4 style="padding: 50px;">
            Nuestro equipo está compuesto por expertos en movilidad eléctrica listos para guiarte. Ofrecemos asesoramiento
            tanto en línea como en tienda, ayudándote a escoger la e-bike perfecta para tu estilo de vida y necesidades.
        </h4>
        <img src="inicio/aseso.jpg" class="w-100" style="padding: 50px; border-radius: 66px;">
    </div>
    <div class="item item-4"><!-- text -->
        <img src="inicio/si.jpg" class="w-100" style="padding: 50px; border-radius: 66px;">
        <h4 style="padding: 50px;">
            Tu e-bike merece los mejores cuidados. En Electro Speed ofrecemos mantenimiento y reparación especializada para
            que siempre esté en óptimas condiciones. Desde ajustes básicos hasta reparaciones técnicas, cuidamos de cada
            detalle para que disfrutes sin preocupaciones.
        </h4>
    </div>
    <div class="item item-5"><!-- text -->
        <h4 style="padding: 50px;">
            Queremos que te muevas sin complicaciones. Con opciones de pago cómodas y flexibles, como Visa y Ethereum, te
            ofrecemos distintas alternativas para que tu e-bike esté a tu alcance sin que el precio sea un obstáculo. En
            Electro Speed, la movilidad eléctrica es accesible y se adapta a ti. 
        </h4>
        <img src="inicio/pago.jpg" class="w-100" style="padding: 10px; border-radius: 66px;">
</div>