/*  grid     */
.grid {
    display: flex;
    padding-top: 200px;
    padding-bottom: 20vh;
}


/* fondo */
.fondo 
{
    background-image: url(../../../../../public/inicio/FondoMontaña.png);
    background-size: cover;
    height: 1080px;
}

/* El texto destacados y las lineas */
h1 
{
    font-size: 7vh;
    color: white;
    margin: 0 25vh;
}

hr 
{
    margin-top: 5vh;
    width: 70vh;
    height: 1vh;
    background-color: white;
}

/* las bicis a mostrar */
.centralBicis 
{
    margin-left: 20vh;
    display: flex;
    align-content: center;
    height: 50vh;
}

.bicimedio, img , hr
{
    width: 85vh;
}

.bicilados 
{
    margin-top: 15vh;
    width: 43vh;
    opacity: 50%;
}

/*  flechas     */
.flechas 
{
    position: absolute;
    width: 10vh;
}

#FlechaBiciIzquierda {
    left: 40vh;
}

#FlechaBiciDerecha {
    right: 40vh;
    transform: rotate(180deg);
}