@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#iniciosesion{
    width: 356px;
    height: 87px;
    margin-top: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

#cuadrocorreo{
    box-sizing: border-box;
    width: 500px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}

#cuadrocontra{
    box-sizing: border-box;
    width: 500px;
    height: 61px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}

#botones{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#botoninicio{
    box-sizing: border-box;
    width: 283px;
    height: 75px;

    background: #E6A000;
    border: 1px solid #000000;
    border-radius: 50px;
}

#botonregistro{
    box-sizing: border-box;
    width: 283px;
    height: 75px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}