<app-base-login-registro>
    <div id="iniciosesion">
        <p>Inicio de Sesión</p>
    </div>
    <form id="formulario" (submit)="submit()">
        <input type="text" id="cuadrocorreo" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}" />
        <input type="password" id="cuadrocontra" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />

        <div id="botones">    
            <button type="submit" id="botoninicio">Iniciar Sesión</button>
            <button type="button" id="botonregistro">Registrarse</button>
        </div>
    </form>

    @if (jwt) {
        <h4>El token de acceso es:</h4>
        <p>{{jwt}}</p>
      }
      @else {
        <h4>No estás autenticado</h4>
      }

</app-base-login-registro>
