<app-base-login-registro>
    <div id="iniciosesion">
        <p>Inicio de Sesión</p>
    </div>
    <form id="formulario" (submit)="submit()">
        <input type="text" id="cuadrocorreo" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
        <input type="password" id="cuadrocontra" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
        <div id="botones">    
            <button type="submit" id="botoninicio">Iniciar Sesión</button>
            <button type="button" id="botonregistro">Registrarse</button>
        </div>
    </form>

    @if (jwt) {
        <h4>Sesión iniciada correctamente.</h4>
      }
      @else {
        <h4>Correo o contraseñas incorrectos.</h4>
      }

</app-base-login-registro>
