/* fuente*/
@font-face {
    font-family: inter-standar;
    src: url(../../../../../fonts/Inter-standar.ttf);
}
@font-face {
    font-family: inter-tight;
    src: url(../../../../../fonts/Inter-tight.ttf);
}

/* centrado y tipografia    */
.centradoTipografia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter-tight;
}

/* fondo */
.fondo {
    background-image: url(../../../../../public/inicio/FondoInicioBicis.jpg);
    background-size: cover;
}

/*  Inicio  */
#inicio {
    height: 580px;
    padding-top: 30vh;
}

#Logotipo_inicio {
    width: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}