/* centrado y tipografia    */
.centradoTipografia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

/* fondo */
.fondo {
    background-image: url(../../../../../public/inicio/FondoInicioBicis.jpeg);
    background-size: cover;
}

/*  Inicio  */
#inicio {
    height: 880px;
    padding-top: 30vh;
}

#Logotipo_inicio {
    width: 100vh;
}