<app-navbar></app-navbar>
<div class="body">
    <div class="all">
        <h1>Equipo ElectroSpeed</h1>
        
        <div class="imagen_team">
            <img src="sobre-nosotros/FOTO_EQUIPO_ELECTROSPEED.jpg">
        </div>

        <div class="info_miembros">
            <div class="miembro">
                <h2>Adrián Carmona:</h2>
                <p>Líder confiable de ElectroSpeed, gestiona y dirige al equipo con eficacia. Motivado por su pasión por las bicicletas desde joven, decidió fundar la empresa para facilitar el acceso a estos productos al público.</p>
            </div>
            <div class="miembro">
                <h2>Héctor Domínguez:</h2>
                <p>Responsable y positivo, Héctor es un miembro confiable de la empresa, destacando por su capacidad autodidacta. Su interés en el proyecto viene de su deseo de contribuir al medio ambiente a través de un negocio de bicicletas.</p>
            </div>
            <div class="miembro">
                <h2>Noe González:</h2>
                <p>Conocido por su disposición a asumir riesgos y dedicación, Noe es clave en el crecimiento de ElectroSpeed. Inspirado por la nostalgia de las bicicletas y la llegada de las ebikes, quiere facilitar la compra para satisfacer las necesidades del comprador.</p>
            </div>
            <div class="miembro">
                <h2>Ricardo Troyano:</h2>
                <p>Emprendedor optimista y creativo, Ricardo contribuye con ideas prácticas y realismo. Su interés en el proyecto radica en su visión de un futuro prometedor para la empresa en el mercado.</p>
            </div>
        </div>

        <div class="descripcion_empresa">
            <p>Somos un equipo de cuatro apasionados por las bicicletas y la movilidad sostenible. Lo que comenzó como una simple afición se ha transformado en un proyecto lleno de energía: una tienda online dedicada a ofrecer las mejores bicicletas eléctricas del mercado.</p>
            <br>
            <p>Creemos firmemente en el poder de las bicicletas eléctricas para revolucionar la forma en que nos movemos y hacer de las ciudades como entornos urbanos. Cada uno de nosotros ha encontrado en la bici no solo una forma de transporte, sino una manera de disfrutar del aire libre, mejorar nuestra calidad de vida y contribuir a un futuro más ecológico.</p>
            <br>
            <p>Nuestra misión es ofrecer bicicletas eléctricas de alta calidad que se adaptan a tus necesidades, ya sea que busques disfrutar de una manera más eficiente de ir al trabajo, explorar nuevos sitios, o simplemente disfrutar de paseos sin esfuerzo. Nos esforzamos por satisfacer todos estos modelos, ofrecer un servicio personalizado y brindarte la asesoría que necesitas para que encuentres la bicicleta perfecta.</p>
            <br>
            <p>Únete a nosotros en este emocionante viaje hacia un transporte más limpio, saludable y divertido. ¡Pedalea con energía!</p>
        </div>
        <div class="contacto">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1282.4776922260903!2d-4.554668243771054!3d36.740641376493905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f10963ce0f3d%3A0x310ae7d4bb2e8f7b!2sCPIFP%20Alan%20Turing!5e1!3m2!1ses!2ses!4v1730904668031!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="logo">
                <img src="sobre-nosotros/logo_electrospeed_blanco.png" alt="Logo ElectroSpeed">
            </div>
            <div class="contacto_info">
                <h3>Encuentranos:</h3>
                <p>C. Frederick Terman, 3, Campanillas, 29590<br>Málaga, España</p>
                <h4>Teléfono de contacto:</h4>
                <p>969 696 696</p>
            </div>
        </div>
    </div>
</div>