<div id="body">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
              <form [formGroup]="myForm" novalidate>
                <!-- <label _ngcontent-ng-c4055141374="" style="margin-bottom: 20px;"></label> -->
                <label _ngcontent-ng-c4071791759="" id="generalLabel" for="chk" aria-hidden="true" >Iniciar Sesión</label>
                  
                <input type="email" placeholder="Correo electrónico" formControlName="emailLog" required />
                <input type="password" placeholder="Contraseña" formControlName="passwordLog" required /> 
                
                <div class="checkbox-wrapper-37">
                    <input type="checkbox" name="checkbox" id="terms-checkbox-37" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}"/>
                    <label for="terms-checkbox-37" class="terms-label" style="margin-top: 10px; margin-bottom: 0px;">
                      <svg
                        class="checkbox-svg"
                        viewBox="0 0 200 200"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <mask id="path-1-inside-1_476_5-37" fill="white">
                          <rect width="200" height="200" />
                        </mask>
                        <rect
                          width="200"
                          height="200"
                          class="checkbox-box"
                          stroke-width="40"
                          mask="url(#path-1-inside-1_476_5-37)"
                        />
                        <path
                          class="checkbox-tick"
                          d="M52 111.018L76.9867 136L149 64"
                          stroke-width="15"
                        />
                      </svg>
                      <span class="label-text">Recuerdame</span>
                    </label>
                  </div>
                    <button (click)="submitLogin()" class="btn trigger">Iniciar Sesión</button>
              </form>
            </div>
    
            <div class="login">
              <!-- Registro -->
              <form [formGroup]="myForm" novalidate>
                    <label _ngcontent-ng-c4055141374="" style="margin-bottom: 0px;"></label>
                    <label id="generalLabel" for="chk" aria-hidden="true" style="margin-bottom: 20px; color: rgb(99, 98, 98);" >Registrarse</label>
                    <input type="text" placeholder="Nombre Completo" formControlName="fullNameR" required />
                    <input type="email" placeholder="Correo electrónico" formControlName="emailR" required />
                    <input type="password" placeholder="Contraseña" formControlName="passwordR" required />
                    <input type="password" placeholder="Repetir contraseña" formControlName="passwordRepR" required />
                    <input type="text" placeholder="Dirección" formControlName="direccionR" required /> 
                    <div class="checkbox-wrapper-37">
                      <input type="checkbox" name="checkbox" id="terms-checkbox-37" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}"/>
                      <label for="terms-checkbox-37" class="terms-label" style="margin-top: 10px; margin-bottom: 0px;">
                        <svg
                          class="checkbox-svg"
                          viewBox="0 0 200 200"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <mask id="path-1-inside-1_476_5-37" fill="white">
                            <rect width="200" height="200" />
                          </mask>
                          <rect
                            width="200"
                            height="200"
                            class="checkbox-box"
                            stroke-width="40"
                            mask="url(#path-1-inside-1_476_5-37)"
                          />
                          <path
                            class="checkbox-tick"
                            d="M52 111.018L76.9867 136L149 64"
                            stroke-width="15"
                          />
                        </svg>
                        <span class="label-text">Recuerdame</span>
                      </label>
                    </div>
                    <button  (click)="submitRegistro()" class="btn trigger">Registrarse</button>   
                </form>
            </div>
    </div> 
    <div class="modal-wrapper">
      <div class="modal">
        <div class="head">
          <a class="btn-close trigger" href="/logreg">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span class="material-symbols-outlined">
              close
            </span>
          </a>
        </div>
        <div class="content">
            <div class="good-job">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              @if (jwt && passwordConfirmation) {
                <h1>Operación completada</h1>
              }
              @else {
                @if(!passwordConfirmation){
                  <h1>Las contraseñas no coinciden</h1>
                }@else {
                  <h1>Error al realizar la operación</h1>
                }
              }  
            </div>
        </div>
        <a href="">
          <button class="button-86" role="button">Aceptar</button>
        </a>
      </div>
    </div> 
</div>