<div class="fondo">
    <div class="items">
        <div class="texto">
            <hr>
            <span>En Electro Speed aportamos por un futuro con una movilidad sostenible y electrica</span>
            <hr>
        </div>
        <div class="imagenes">
            <img src="inicio/marcas/LaBosh.png" alt="">
            <img src="inicio/marcas/G.png" alt="">
            <img src="inicio/marcas/Orbea.png" alt="">
            <img src="inicio/marcas/Peugeot.png" alt="">
        </div>
    </div>
</div>