<div class="navbar">
    <div class="logo">
        <a href="">
            <img id="logo" src="navbar/logo_electrospeed_negro.png" />
        </a>
    </div>
    <div class="nav-actions">
        <ul class="nav-buttons">
            <li>
                <a href="catalogo">
                    <img src="navbar/imagen_productos.png" alt="icono productos" class="icono-boton-productos" />
                    Productos
                </a>
            </li>
            <li>
                <a href="/sobreNosotros">
                    <img src="navbar/imagen_sobrenosotros.png" alt="icono sobre nosotros" class="icono-boton-sobrenosotros" />
                    Sobre Nosotros
                </a>
            </li>
        </ul>
        @if (usuarioToken()) {
            <span id="usuarioIniciado">Usuario Iniciado: <h3 id="nombreUsuario" [innerText]="nombreToken()"></h3></span>
        }
        <div class="icons">
            <img id="carrito" src="navbar/imagen_carrito.png" />
            <div>
                @if (usuarioToken()) {
                    <a id="usuario" (click)="vaciarToken()">
                        <img id="perfil" src="navbar/imagen_deslogueado.png" alt="">
                    </a>
                }
                @else {
                    <a id="usuario" href="/logreg">
                        <img id="perfil" src="navbar/imagen_perfil.png" />
                    </a>
                }
            </div>
        </div>
    </div>
</div>