<footer>
    <ul>
        <h3>Nuestras redes:</h3>
        <li><a href="https://www.instagram.com/?hl=es">
            <img src="footer/logo-instagram.png" class="logo-instagram"/>
            instagram</a></li>
        <li><a href="https://twitter.com/?lang=es">
            <img src="footer/logo-twitter.png" class="logo-twitter"/>
            twiter</a></li>
        <li><a href="https://www.facebook.com/?locale=es_ES">
            <img src="footer/logo-facebook.png" class="logo-facebook"/>
            facebook</a></li>
        <li><a href="https://es.linkedin.com/">
            <img src="footer/logo-linkedin.png" class="logo-linkedin"/>
            linkedin</a></li>
    </ul>
</footer>