<div class="fondo">
    <div class="grid">
        <hr id="izquierda">
        <h1>Destacados</h1>
        <hr id="derecha">    
    </div>
    <div class="centralBicis">
        <div>
            <img class="flechas" id="FlechaBiciDerecha" src="flechaBicis.png" alt="FlechaBiciDerecha">
            <img class="bicilados" src="bicicletahailbike.png" alt="">
        </div>
        <div class="bicimedio">
            <img src="bicicletahailbike.png" alt="">
            <hr>
        </div>
        <div>
            <img class="flechas" id="FlechaBiciIzquierda" src="flechaBicis.png" alt="FlechaBiciIzquierda">
            <img class="bicilados" src="bicicletahailbike.png" alt="">
        </div>
    </div>
</div>

<!--    
             ###     ##                                 ###                ###                                 ##
              ##                                         ##               ## ##                                ##
  ####        ##    ###      ####              ####      ##                #      ######    ####    #####     #####
 ##  ##    #####     ##     ##  ##            ##  ##     ##              ####      ##  ##  ##  ##   ##  ##     ##
 ##  ##   ##  ##     ##     ##  ##            ######     ##               ##       ##      ##  ##   ##  ##     ##
 ##  ##   ##  ##     ##     ##  ##            ##         ##               ##       ##      ##  ##   ##  ##     ## ##
  ####     ######   ####     ####              #####    ####             ####     ####      ####    ##  ##      ###
-->