<div id="fondo">
    <div id="espacio"></div>
    <div id="buscadorFiltro">
        <img src="catalogo/filtro.png" alt="icono de flitro">
        <input type="search" name="filtroCatalogo" id="filtroCatalogo">
        <img src="catalogo/lupa.png" alt="">
    </div>
    <div class="catalogo">
        <div class="bici">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMitILXLp51LgHm6swwdnQFy5xYFk99xC5Rw&s">
            <div class="parteArriba">
                <h3>Bici potentorra</h3> 
                <h3>20378423748233 €</h3>
            </div>
            <div class="parteAbajo">
                <h3>Stock va aqui</h3>
                <h3>Valoraciones</h3>
            </div>
        </div>
    </div>
    
</div>

