<div id="fondo">
    <div id="espacio"></div>
    <form (submit)="submitFiltro()">
        <div id="buscadorFiltro">
            <div class="filtro">
                <img id="fotoFiltro" src="catalogo/filtro.png" alt="icono de filtro" (click)="toggleDropdown()">
                <div id="tiposFiltro" [class.show]="isDropdownVisible">
                    <a>Filtro:</a>
                    <div id="categoria">
                        <select id="categoriaSelect">
                            <option value="nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">Nombre</option>
                            <option value="precio" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}">Precio</option>
                        </select>
                    </div>
                    <div id="forma">
                        <select>
                            <option value="desc" [(ngModel)]="desc" [ngModelOptions]="{standalone: true}">Descendente</option>
                            <option value="asc" [(ngModel)]="asc" [ngModelOptions]="{standalone: true}">Ascendente</option>
                        </select>
                    </div>
                </div>
            </div>
            <input type="search" name="filtroCatalogo" id="filtroCatalogo">
            <img src="catalogo/lupa.png" alt="">
        </div>
    </form>
    <div class="catalogo">
        <div class="bici">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMitILXLp51LgHm6swwdnQFy5xYFk99xC5Rw&s">
            <div class="parteArriba">
                <h3>Bici potentorra</h3>
                <h3>20378423748233 €</h3>
            </div>
            <div class="parteAbajo">
                <h3>Stock va aqui</h3>
                <h3>Valoraciones</h3>
            </div>
        </div>
    </div>
</div>