#fondo {
    background-image: url(../../../../public/catalogo/fondoCatalogo.png);
    height: 1080px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
}

#espacio {
    height: 15vh;
}

#buscadorFiltro {
    display: flex;
    height: 5vh;
    justify-content: center;
}

#buscadorFiltro img,
#buscadorFiltro input {
    margin-right: 2.5vh;
}

.catalogo {
    background-image: url(../../../../public/catalogo/fondoCatalogo.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: fit-content;
}

/* 
*       CADA BICICLETA
*/

.parteArriba {
    display: flex;

}

.parteAbajo {
    display: flex;
}

h3 {
    margin-right: 20px;
}

/*
*       EL FILTRO
*/

.filtro {
    position: relative;
}

#tiposFiltro {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#tiposFiltro.show {
    display: flex;
}

