@if (admin) {
    <div id="Fondo">
        <div id="Titulo">
            <h2>Vista de administrador</h2>
        </div>    
    
    
        <div class="vista">
            <div class="productos_usuarios coloresYbordes">
    
                    <div class="pestana marguinDe2">
    
                        <div class="marguinDe2">
                            <span>Cambiar a: </span>
                            @if (usuarioOBici == 0) {
                                <button (click)="cambiarUsuarioBici()">bicicleta</button>
                            }
                            @else {
                                <button (click)="cambiarUsuarioBici()">usuario</button>
                            }
                        </div>
    
                        <div class="marguinDe2">
                            <button (click)="sumarRestarEjecutar(-2)">-</button>
                            <span> {{idBuscarMenu}}/{{bicicletasTotalesNumero()}} </span>
                            <button (click)="sumarRestarEjecutar(2)">+</button>
                        </div>
    
                        <div class="menu">
                            @if (usuarioOBici == 1) {
    
                                @for (item of bicicletasFiltradas; track $index) {
    
                                    <div class="tarjeta" (click)="seleccionarDestacado(item.id,1)">
                                        <img [src]="item.urlImg" alt="">
                                        <p>id: {{item.id}}</p>
                                        <p>marca y modelo: {{item.marcaModelo}}</p>
                                        <p>precio: {{item.stock}} stock: {{item.stock}}</p>
                                    </div>
    
                                }
    
                                <div>
                                    <button (click)="NuevoUsuario()">añadir</button>
                                </div>
    
                            }
                            @else if(usuarioOBici == 0) {
    
                                @for (item of usuariosFiltrados; track $index) {
    
                                    <div class="tarjeta" (click)="seleccionarDestacado(item.id,0)">
                                        <p>id: {{item.id}}</p>
                                        <p>email: {{item.email}}</p>
                                        <p>nombre: {{item.name}}</p>
                                        <p>direccion: {{item.direccion}}</p>
                                    </div>
        
                                }
    
                            }
    
                        </div>
    
                    </div>
    
            </div>
    
            <div class="detalles coloresYbordes">
    
                @if (seleccionado == 0) {
                    <form action="" class="marguinDe2">
                        <div class="centrado">
                            <h2>Usuario</h2>
                        </div>
                        <div class="gridDetalle">
                            <div>
                                <div class="pestana">
                                    <span>Id Usuario: </span>
                                    <input type="number" name="id" id="id" [value]="usuarioSeleccionado.id">
                                </div>
                                <br>
                                <div class="pestana">
                                    <span>Nombre usuario: </span>
                                    <input type="text" name="nombre" id="nombre" [(ngModel)]="usuarioSeleccionado.name" [ngModelOptions]="{standalone: true}"  [value]="usuarioSeleccionado.name">
                                </div>
                                <br>
                                <div class="pestana">
                                    <span>Email usuario: </span>
                                    <input type="text" name="email" id="email" [(ngModel)]="usuarioSeleccionado.email" [ngModelOptions]="{standalone: true}"  [value]="usuarioSeleccionado.email">
                                </div>
                                <br>
                                <div class="pestana">
                                    <span>Direccion usuario: </span>
                                    <input type="text" name="direccion" id="direccion" [(ngModel)]="usuarioSeleccionado.direccion" [ngModelOptions]="{standalone: true}" [value]="usuarioSeleccionado.direccion">
                                </div>
                                <br>
                                <div class="pestana">
    
                                    <span>Rol del usuario: </span>
                                    <br>
    
                                    <span>administradro: 
                                        <input type="checkbox" [(ngModel)]="usuarioSeleccionado.admin" [ngModelOptions]="{standalone: true}" value="{{usuarioSeleccionado.admin}}" >
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="centrado">
                            <input type="submit" value="guardar" (click)="EditarUsuarios(usuarioSeleccionado)">
                            <input type="submit" value="eliminar" (click)="EliminarUsuarios(usuarioSeleccionado.id)">
                        </div>
                    </form>
                } 
                @else if(seleccionado == 1) {
                    <form action="" class="marguinDe2">
                        <div class="centrado">
                            <h2>Bicicleta</h2>
                        </div>
                        <div class="gridDetalle">
                            <div>
                                <img id="biciDetalle" [src]="bicicletaSeleccionada.urlImg" alt="" width="400px">
                            </div>   
                            <div>
                                <div class="inputs">
                                    <span>NombreModelo bicicleta: </span>
                                    <input type="text" name="nombreYMarca" id="nombreYMarca" [(ngModel)]="bicicletaSeleccionada.marcaModelo" [ngModelOptions]="{standalone: true}" [value]="bicicletaSeleccionada.marcaModelo">
                                    <br>
                                    <span>Descripcion bicicleta: </span>
                                    <input type="text" name="descripcion" id="descripcion" [(ngModel)]="bicicletaSeleccionada.descripcion" [ngModelOptions]="{standalone: true}" [value]="bicicletaSeleccionada.descripcion">
                                    <br>
                                    <span>Precio bicicleta: </span>
                                    <input type="number" name="precio" id="precio" [(ngModel)]="bicicletaSeleccionada.precio" [ngModelOptions]="{standalone: true}" [value]="bicicletaSeleccionada.precio">
                                    <br>
                                    <span>Stock disponible: </span>
                                    <input type="number" name="stock" id="stock" [(ngModel)]="bicicletaSeleccionada.stock" [ngModelOptions]="{standalone: true}" [value]="bicicletaSeleccionada.stock">      
                                    <br>    
                                    <span>Imagen: <input type="file" accept="image/png, image/jpeg, image/jpg" name="Imagen" id="" (change)="onFileSelected($event)"> </span>
                                </div>
                            </div>
                        </div>
                        <div class="centrado">
                            <input type="submit" value="añadir" (click)="anadirBicicleta()" style="margin-right: 20px;">
                            <input type="submit" value="guardar" (click)="EditarBicicleta(bicicletaSeleccionada)"style="margin-right: 20px;">
                            <input type="submit" value="eliminar" (click)="EliminarBicicleta(bicicletaSeleccionada.id)">
                        </div>
                    </form>
                }
                @else {
                    <img id="cargando" src="./administrador/chinoEnBici.gif" alt="">
                }
    
            </div>
        </div>
    </div>
    
}@else {
    <div class="container">
        <div class="message-box">
            <h1>¡Acceso Denegado!</h1>
            <p>No tienes permisos para acceder a esta página.</p>
            <a href="#"><button>Salir</button></a>
        </div>
    </div>
}
