
<div>
    <div id="logo">
        <img src="../../../../public/logo_electrospeed_negro.png">
    </div>
    <div id="botones">
        <button id="productos"><img id="img_productos" src="../../../../public/imagen_productos.png">Productos</button>
        <button id="sobre_nosotros"><img id="img_sobrenosotros" src="../../../../public/imagen_sobrenosotros.png">Sobre Nosotros</button>
        <img id="logo" src="../../../../public/imagen_carrito.png">
        <img id="logo" src="../../../../public/imagen_perfil.png">
    </div>
</div>
